{% extends "admin/header.html" %}
{% load static %}

{% block content %}





<!-- page content -->
<div id="app-content">

    <div class="app-content-area">

        <div class="container-fluid">

            <div class=" rounded-3 mybg  " style="background-color: #2E3092;">
                <div class="row mb-5 ">
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="p-6 d-lg-flex justify-content-between align-items-center ">
                            <div class="d-md-flex align-items-center">
                                <img src="{{user.profiles.image.url}}" alt="Image"
                                    class="rounded-circle avatar avatar-xl">
                                <div class="ms-md-4 mt-3 mt-md-0 lh-1">
                                    <h3 class="text-white">{{user.full_name | upper }} | <span
                                            class="admin">{{user.profiles.department | upper }}</span>
                                    </h3>
                                    <p class="text-white">professional web developer with huge experences</p>

                                </div>
                            </div>
                            <div class=" d-lg-block top ">
                                <a href="#!" class="btn " style="background-color: #fff; color: #060505;">
                                    Add Cohort</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row row-cols-1  row-cols-xl-4 row-cols-md-2 ">

                <div class="col mb-5">
                    <div class="card h-100 card-lift">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="text-muted fw-semi-bold ">Total Registered</span>


                            </div>
                            <div class="mt-4 mb-3 d-flex align-items-center lh-1">
                                <h5 class="fw-bold  mb-0">{{users}}</h5>

                            </div>
                            <a href="#!" class="btn-link fw-semi-bold">See All</a>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100 card-lift">

                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="text-muted fw-semi-bold ">Total Admitted</span>


                            </div>
                            <div class="mt-4 mb-3 d-flex align-items-center lh-1">
                                <h5 class="fw-bold  mb-0">{{admitted}}</h5>

                            </div>
                            <a href="#!" class="btn-link fw-semi-bold">Sell All</a>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100 card-lift">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="text-muted fw-semi-bold ">Courses Registerd</span>


                            </div>
                            <div class="mt-4 mb-3 d-flex align-items-center lh-1">
                                <h5 class="fw-bold  mb-0">40</h5>

                            </div>
                            <a href="#!" class="btn-link fw-semi-bold">all see</a>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100 card-lift">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="text-muted fw-semi-bold ">Wallet</span>


                            </div>
                            <div class="mt-4 mb-3 d-flex align-items-center lh-1">
                                <h5 class="fw-bold  mb-0" style="color: rgb(0, 195, 52);">N200,000</h5>
                            </div>
                            <a href="#!" class="btn-link fw-semi-bold">Request Withdrawal</a>
                        </div>
                    </div>
                </div>






            </div>


            <div class="row row-table">
            
                <div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-5 mb-xl-0">
                    <div class="card h-100">
                        <!-- card header  -->
                        <div class="card-header" style="background-color: #2E3092;">
                            <h4 class="mb-0 text-light" >pending admission</h4>
                        </div>
                        <!-- table  -->
                        <div class="card-body">
                            <div class="table-responsive table-card" data-simplebar="" style="max-height: 380px">
                                <table class="table text-nowrap mb-0 table-centered table-hover">
                                    <thead class="table-light">
                                        <tr>
                                            <th>full Name</th>
                                            <th>email </th>
                                            <th>Courses </th>
                                            <th>Departtment</th>
                                            
                                            <th>action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="pending-admissions-body">
                                       

                                       

                                     
                                    


                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Pagination Controls -->
                        <div class="card-footer">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item" id="prev-page">
                                        <a class="page-link" href="" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item" id="next-page">
                                        <a class="page-link" href="" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>

            </div>


            <div class="card h-100 con mt-5">

                <div class="card-body">
                    <div id="visitorBlog"></div>
                </div>
            </div>

<div class="row row-table">


                    <!-- card  -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-5 mb-xl-0">
                        <div class="card h-100">
                            <!-- card header  -->
                            <div class="card-header d-flex justify-content-between align-items-center"
                                style="background-color: #2E3092;">
                                <h4 class="mb-0 text-white">Cohort Project Submission</h4>
                                <div class="dropdown">
                                    <a class="btn btn-outline-light btn-sm dropdown-toggle" href="#" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">cohorts</a>
    
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#">cohort 12</a></li>
                                        <li><a class="dropdown-item" href="#">cohort 15</a></li>
                                        <li><a class="dropdown-item" href="#">cohort 30</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- table  -->
                            <div class="card-body">
                                <div class="table-responsive table-card">
                                    <table class="table text-nowrap mb-0 table-centered table-hover">
                                        <thead class="table-light">
                                            <tr>
                                                <th>Name</th>
                                                <th>Deadline</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="flexCheckOne" />
                                                        <label class="form-check-label" for="flexCheckOne">Design a
                                                            FreshCart Home page</label>
                                                    </div>
                                                </td>
                                                <td>Today</td>
                                                <td>
                                                    <span class="badge badge-success-soft">Approved</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="flexCheckTwo" />
                                                        <label class="form-check-label" for="flexCheckTwo">Dash UI Dark
                                                            Version Design</label>
                                                    </div>
                                                </td>
                                                <td>Yesterday</td>
                                                <td>
                                                    <span class="badge badge-danger-soft">Pending</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="flexCheckThree" />
                                                        <label class="form-check-label" for="flexCheckThree">Dash UI landing
                                                            page design</label>
                                                    </div>
                                                </td>
                                                <td>16 Sept, 2023</td>
                                                <td>
                                                    <span class="badge badge-warning-soft">In Progress</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="flexCheckFour" />
                                                        <label class="form-check-label" for="flexCheckFour">Next.js Dash UI
                                                            version</label>
                                                    </div>
                                                </td>
                                                <td>23 Sept, 2023</td>
                                                <td>
                                                    <span class="badge badge-success-soft">Approved</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="flexCheckFive" />
                                                        <label class="form-check-label" for="flexCheckFive">Develop a Dash
                                                            UI Laravel</label>
                                                    </div>
                                                </td>
                                                <td>20 Sept, 2023</td>
                                                <td>
                                                    <span class="badge badge-danger-soft">Pending</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="flexCheckSix" />
                                                        <label class="form-check-label" for="flexCheckSix">Coach home page
                                                            design</label>
                                                    </div>
                                                </td>
                                                <td>12 Sept, 2023</td>
                                                <td>
                                                    <span class="badge badge-success-soft">Approved</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="flexCheckSeven" />
                                                        <label class="form-check-label" for="flexCheckSeven">Develop a Dash
                                                            UI Laravel</label>
                                                    </div>
                                                </td>
                                                <td>11 Sept, 2023</td>
                                                <td>
                                                    <span class="badge badge-danger-soft">Pending</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- card  -->
    
            </div>

            <style>
                .con {
                    width: 90%;
                    background-color: white;
                    padding: 5px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    border-radius: 10px;
                    margin: 20px auto;



                }

                .row-table{

                    width: 90%;
                    margin: 20px auto;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                }





                .dropdown-item {
                    color: black !important;
                }
            </style>
      






        </div>
    </div>
</div>





{% endblock content %}